/* FOR GENERAL BUTTONS */
.arrow-button {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 2px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 800;
}

.arrow-button[disabled] {
    opacity: 0.2;
}

.custom-button.hidden {
    display: none;
}

.header {
    transition: all 1s ease-in-out;
}

.white-header {
    color: white;
}

/* FOR LOADING SCREEN */
/* 
    sources used:
    https://freefrontend.com/css-loaders/page/6/
    https://github.com/WaelYasmina/loadingscreen/blob/main/src/js/scripts.js
    https://codepen.io/kumarsidharth/pen/VBBbJW
*/
.progress-bar-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 99vw;
    height: 99vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader-animation-container {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background: linear-gradient(165deg, rgba(255,255,255,1) 0%, rgb(220, 220, 220) 40%, rgb(170, 170, 170) 98%, rgb(10, 10, 10) 100%);
	position: relative;
}

.loader-animation:before {
   	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border-bottom: 0 solid #ffffff05;
	
	box-shadow: 
		0 -3px 6px 6px #ffffff40 inset,
		0 -1px 4px 3px #ffffff50 inset,
		0 -1px 1px #ffffff80 inset,
		0 -1px 1px #ffffffBB inset,
		0 1px 0px #ffffff,
		0 1px 1px #ffffff,
		0 1px 1px #ffffff90,
		0 3px 4px #ffffff60,
		0 3px 6px 6px #ffffff40;
	filter: blur(3px);
	animation: 2s rotate linear infinite; 
}

@keyframes rotate {
	100% {
		transform: rotate(360deg)
	}
}

@keyframes load {
    0%{
        opacity: 0.08;
        filter: blur(5px);
        letter-spacing: 3px;
    }
}

.animate {
    color: white;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	font-family: Helvetica, sans-serif, Arial;
	animation: load 1.5s infinite 0s ease-in-out;
	animation-direction: alternate;
	text-shadow: 0 0 1px white;
}

/* FOR OPTION SELECT */
.option-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
}

.optionSelect-header {
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 2% 0;
}

.option-select > label {
    margin-bottom: 2px;
}

.option-select-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.option-select-value {
    display: grid;
    place-items: center;
    min-width: 100px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 7px;
    padding: 2px;
}

/* FOR COLOUR PICKERS */
.colour-select {
    position: relative;
    margin: 5px 0;
    padding: 3px 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.colour-select.fade-out {
    opacity: 0;
}

.colour-select.fade-in {
    opacity: 1;
}

.colour-select::after {
    content: '';
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 1px;
    background-color: #ccc;
}

.colour-select-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colour-select-header > .span-1 {
    font-size: small;
    font-style: italic;
}

.colour-select-header > .span-2 {
    font-size: large;
    font-weight: bold;
}

.colour-select-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 0.25rem;
    width: 100%;
    padding: 5px 10px 0 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.colour-select-container.fade-out {
    opacity: 0;
}

.colour-select-container.fade-in {
    opacity: 1;
}

.colour-select-placeholder {
    visibility: hidden;
    height: 30px;
    width: 90px;
    transition: all 0.3s ease;
}

.colour-select-group {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    padding-right: 5px;
    box-sizing: border-box;
}

.colour-select-group > .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.colour-select-label {
    align-self: flex-start;
    font-size: small;
}

.color-picker-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.pagination-controls {
    padding-bottom: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.pagination-controls > span {
    margin: 2px 0;
}

.color-swatch {
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
}

.popover {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 10;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
}

.colour-input {
    display: block;
    box-sizing: border-box;
    /* width: 90px; */
    /* margin: 0 55px; */
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    background: #ffffff;
    outline: none;
    font: inherit;
    color: black;
    text-transform: uppercase;
    text-align: center;
}
