/* FOR GENERAL BUTTONS */
.arrow-button {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 2px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 800;
}

/* FOR OPTION SELECT */
.option-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
}

.option-select > label {
    margin-bottom: 2px;
}

.option-select-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.option-select-value {
    display: grid;
    place-items: center;
    min-width: 100px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 7px;
    padding: 2px;
}

/* FOR COLOUR PICKERS */
.colour-select {
    position: relative;
    margin: 5px 0;
    padding: 3px 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.colour-select.fade-out {
    opacity: 0;
}

.colour-select.fade-in {
    opacity: 1;
}

.colour-select::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 1px;
    background-color: #ccc;
}

.colour-select-header {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.colour-select-header > .span-1 {
    font-size: small;
    font-style: italic;
}

.colour-select-header > .span-2 {
    font-size: large;
    font-weight: bold;
}

.colour-select-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.25rem;
    width: 100%;
    padding: 5px 10px 0 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.colour-select-container.fade-out {
    opacity: 0;
}

.colour-select-container.fade-in {
    opacity: 1;
}

.colour-select-placeholder {
    visibility: hidden;
    height: 30px;
    width: 90px;
    transition: all 0.3s ease;
}

.pagination-controls {
    flex: 1 0 100%;
}

.colour-select-group {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    padding-right: 5px;
    box-sizing: border-box;
}

.colour-select-group > .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.colour-select-label {
    align-self: flex-start;
    font-size: small;
}

.color-picker-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.pagination-controls {
    align-self: flex-end;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.pagination-controls > span {
    margin: 2px 0;
}

.color-swatch {
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
}

.popover {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 10;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.custom-button.hidden {
    display: none;
}