.start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}

.scene-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* FOR THE CONFIG AREA */

.config-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.optionSelect-area {
    height: 40%;
}

.optionSelect-container {
    display: flex;
    flex-direction: column;
}

.optionSelect-container > .row-1 {
    flex: 0 1 20%; /* Max height of 20% */
    max-height: 20%;
}

.optionSelect-container > .row-2 {
    flex: 1;
}

.colourSelect-area {
    height: 60%;
    border-top: 1px solid #ccc;
}

.colourSelect-container {
    display: flex;
    flex-direction: column;
}

.colourSelect-container > .row-1 {
    flex: 0 1 20%;
    max-height: 20%;
}

.colourSelect-container > .row-2 {
    flex: 1;
}